name: Build Android APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Go to project folder
        run: cd HologramOcean_AndroidProject

      - name: Grant execute permission for gradlew
        run: |
          cd HologramOcean_AndroidProject
          chmod +x gradlew

      - name: Build Release APK
        run: |
          cd HologramOcean_AndroidProject
          ./gradlew assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: HologramOcean-APK
          path: HologramOcean_AndroidProject/app/build/outputs/apk/release/app-release.apk
